@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

html,
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

body.light {
    background: rgb(222, 222, 222);
}

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preloader img {
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    animation: preloader 0.75s infinite 0s ease-out forwards;
}

@keyframes preloader {
    0% {
        border: 0px solid rgb(0, 152, 194);
        box-shadow: 0px 0px 5px 2px rgb(0, 152, 194);
    }

    100% {
        border: 10px solid rgb(0, 152, 194);
        box-shadow: 0px 0px 10px 2px rgb(0, 152, 194);
    }
}


header {
    width: 100%;
    height: 100px;
    margin: 0;
    background: linear-gradient(black, rgb(45, 45, 45));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav {
    width: 100%;
    padding: 0;
    margin: 0;
}

div.hamburger {
    display: none;
}

nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    text-align: center;
    width: calc(100%/5);
    height: 100px;
    line-height: 100px;
    color: white;
    font-size: 1.4rem;
    transition: .7s all;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    background-color: rgb(58, 58, 58);
    padding: 10px 20px;
    border-radius: .25em;
    transition: .7s all;
}

nav ul li:hover {
    width: calc(100%/4.5);
}

nav ul li a.active-tab {
    background-color: rgb(46, 45, 85);
}

nav ul li a:hover {
    cursor: pointer;
    color: black;
    background: white;
}

header.light li {
    background-color: aliceblue;
}

footer {
    background: linear-gradient(rgb(45, 45, 45), black);
    color: aliceblue;
    padding: 20px;
    margin: 1% 1% auto 1%;
    border-radius: .2em;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 80% auto;
}

footer p:first-child {
    padding: 6px;
}

footer .socials {
    display: grid;
    grid-template-columns: auto auto auto;
}

footer .socials a {
    font-size: 1.5rem;
    text-decoration: none;
    color: aliceblue;
    transition: .5s all;
    margin: auto 1px;
}

footer .socials a:hover {
    text-shadow: 0px 0px 5px aliceblue;
}

footer.light {
    background: aliceblue;
    color: black;
}

footer.light .socials a {
    color: black;
}

footer.light .socials a:hover {
    text-shadow: 0px 0px 5px black;
}


@media screen and (max-width: 850px){
    nav {
        background: linear-gradient(black, rgb(45, 45, 45));
        width: 100vw;
        padding-top: 60px;
        max-height: 100vh;
        opacity: 0 !important;
        transition: 1s transform !important;
        transform: translateX(100%) !important;
    }

    .slided {
        transform: translateX(0) !important;
        opacity: 1 !important;
        transition: 0.5s opacity !important;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        min-height: calc(100%/4);
        width: 100%;
    }
    
    nav ul li:nth-child(5) {
        height: calc(25vh - 25%);
    }

    nav ul li a {
        /* background-color: transparent; */
        color: inherit;
        background-color: rgb(58, 58, 58);
    }

    div.hamburger {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 30px;
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    div.hamburger>div {
        width: 50px;
        right: 10px;
        position: relative;
        height: 10%;
        margin: 20%;
        background-color: white;
        transition: 1s transform;
    }

    div.opened .bar-1 {
        transform-origin: center;
        transform: rotate(45deg) translate(10px, 10px);
    }

    div.opened .bar-3 {
        transform-origin: center;
        transform: rotate(-45deg) translate(10px, -10px);
    }

    div.opened .bar-2 {
        opacity: 0;
    }
}